p,
li {
    color: #333 !important;
}
ul {
    padding: 0;
    margin: 0 150px;
}
li {
    margin-top: 20px;
}
h2 {
    font-size: 3rem;
}
ul {
    text-align: left;
}
section li,
a,
p {
    font-size: 2rem;
}
p {
    text-align: left;
}
.slide {
    background-image: url('/bg.jpg');
}
.slide:nth-child(1) {
    background: #f8f8f8;
}
.slide:nth-child(2) {
    background-image: url('/bg2.jpg');
}
.show-index.is-dot .dot {
    background-color: #030303 !important;
}
.show-index.is-dot {
    color: #fff;
    position: absolute;
    bottom: 0;
    z-index: 100;
    font-size: 28px;
    left: 0 !important;
    font-family: 'Slabo 27px', serif;
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
}
.emoji {
    width: 4rem;
}
.center {
    padding-top: 0;
    justify-content: center;
}
.ta-center {
    text-align: center;
}
section#two {
    padding-top: 0px;
}
section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}
section h1 {
    color: #0286ce;
    font-size: 4rem;
}
section h4 {
    font-size: 2rem;
}
section#one > .bys > img {
    width: 150px;
    margin: 0 auto;
}
section#one .bys {
    display: flex;
    flex-direction: column;
}
section#one .bys h4 {
    margin: 10px 0 0 0;
}
section#one > h2 {
    text-align: center;
    margin: 40px 40px 0 40px;
    font-size: 38px;
}
section#one button {
    font-size: 30px;
    padding: 20px;
    background: #539dff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
section#one button:hover {
    background: #93c4ff;
}
section#one h1 {
    display: none;
    margin: 40px 0 20px 0;
}
section#one > img {
    display: none;
    margin-top: 20px;
    width: 500px;
}
section#two h1,
li {
    color: #f3f3f3;
    list-style-type: none;
}
section#two li {
    color: #f3f3f3 !important;
}
section#four p {
	margin: 0 150px;
	font-size: 2.3rem;
}
section#four {
    padding-top: 100px;
}
section#four > p:nth-child(1) > strong {
    position: absolute;
    left: 5px;
    top: 31%;
    font-family: 'Comic Sans MS';
    color: rgb(29, 231, 95);
}
section#four p:nth-child(2),
section#four p:nth-child(3) {
    margin-top: 25px;
}
section#four img {
    margin-top: 30px;
    width: 30%;
}
section#five img,
section#six img,
section#seven img {
    width: 70%;
    margin-top: 10px;
}

section#eight .wrapper {
    width: 90%;
}
section#eight .wrapper > div {
    padding: 20px;
    font-weight: 500;
    display: grid;
    align-content: center;
    font-size: 24px;
    color: #ffedb0;
}
section#eight .wrapper > div:nth-child(1),
section#eight .wrapper > div:nth-child(4) {
    background-color: #8ad7b1;
}
section#eight .wrapper > div:nth-child(2) {
    background-color: #fd706d;
}
section#eight .wrapper > div:nth-child(3) {
    background-color: #fecb65;
}

section#eight .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 250px 100px;
}
section#eight .header {
    grid-column: span 12;
}
section#eight .menu {
    grid-column: span 4;
}
section#eight .content {
    grid-column: span 8;
}
section#eight .footer {
    grid-column: span 12;
}

@media screen and (max-width: 680px) {
    section#eight .header {
        grid-column: span 6;
    }

    section#eight .menu {
        grid-row: 1;
        grid-column: span 6;
    }

    section#eight .content {
        grid-column: span 12;
    }
}

section#nine h1:nth-child(1),
section#ten h1 {
    margin: 0;
}

section#nine h1:nth-child(2) {
    margin-top: 50px;
}

section#nine {
    justify-content: center;
    padding: 0;
}

section#ten p {
    font-size: 28px;
}

section#ten img {
	margin: 0;
	width: 55%;
	align-self: center;
}

section#ten li {
	display: flex;
	flex-direction: column;
}

section#twelve {
    padding-top: 0;
}
section#twelve img {
    width: 100%;
}
section#twelve h1 {
    margin-bottom: 0;
}
section#twelve h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}
